<body{
    background-color: aqua;
    color:aqua;
}

header{
    margin: 40px;

    background-color: aqua;
    text text-size-adjust: 70px;
    justify-content: center;
}
section{
    background-color:blanchedalmond
    margin:50px;
    display: flex
}
