<body{
    background-color: rgb(229, 255, 0);
    color:hsl(49, 100%, 50%);
}
background-color: blek;
padding-top: 60px;
padding-botton: 60px;
diplay: flex;
justify-content:center;

. primeira chamada
margin-right:5%;

. mais videos de crochê {
display: flex;
overflow-x: auto;
gap: 10px;
}



header{
    margin: 40px;

    background-color: rgb(255, 123, 0);
    text text-size-adjust: 70px;
    justify-content: center;
    border:solid 2px #46DFFA;
}

section{
    background-color:blanchedalmond
    margin:50px;
    display: flex
    
}
padding-tpo:60
padding-bottom:60;
border
